/*
    Admin Global
*/
.content {
    background: #2e2e2e;
    min-height: 92vh;
    
}
.admin-panel {
    padding-left: 10px;
    padding-top: 10px;
    border-top: 10px solid #121212;
    border-right: 10px solid #121212;
    flex: 1 1 80%;
    width: 100%;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.8em;
}
h3, aside li {
    font-size: 1.5em;
}
h4 {
    font-size: 1.2em;
}
em {
    font-style: italic;
}
.server-info h1 {
    color: #d84115;
}
.server-info p {
    margin-top: 10px;
    color: #ffffff;
}
.highlight {
    color: #ff7043;
}

/* 
    Side bar
*/
aside {
    max-width: 14%;
    text-align: left;
    padding: 10px 10px;
    border-right: 10px solid #121212;
    border-top: 10px solid #121212;
    padding-left: 5px;
    background: #1e1e1e;
}
aside li {
    margin-top: 10px;
    color: #ffffff;
}
aside li:hover {
    background: #2e2e2e;
    cursor: pointer;
}
.content ul h2 {
    color: #ff7043;
}
aside fa-icon {
    color: #43d3ff;
}

