/* You can add global styles to this file, and also import other style files */
.content {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
